<div class="row">
    <div class="col-md-9">
        <h1 class="display-4">Welcome, Acme User!</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Delivery date</th>
                <th>Product</th>
                <th>Category</th>
                <th>Declared Amount</th>
                <th>Fee %</th>
                <th>Fee amount</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let dataRow of dataRows">
                <td>{{dataRow.deliveryDate}}</td>
                <td>{{dataRow.product}}</td>
                <td>{{dataRow.category}}</td>
                <td>{{dataRow.declaredAmount}}</td>
                <td>{{dataRow.fee}}</td>
                <td>{{dataRow.feeAmount}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
